@charset "UTF-8";

.about1-wrapper__block {
  padding: 7.5%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border: solid 2px #ddd;
  box-shadow: 20px 20px 30px #ddd;
}

.about1-wrapper__block__list {
  width: 42.5%;
}

.about1-wrapper__block__list__item {
  margin-bottom: 7.5%;
}

.about1-wrapper__block__list__item__ttl {
  font-size: 1.5rem;
  display: inline-block;
}

.about1-wrapper__block__list__item__txt {
  font-size: 1.1rem;
  display: inline-block;
}

.about2-wrapper__all {
  display: flex;
  justify-content: space-around;
  padding: 7.5%;
  border: solid 2px #ddd;
  box-shadow: 20px 20px 30px #ddd;
}

.about2-wrapper__all__block {
  width: 40%;
}

.about2-wrapper__all__block__ttl {
  position: relative;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2.5%;
}

.about2-wrapper__all__block__ttl::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 35px;
  background-color: #75a9ff;
  top: 5%;
  left: -10px;
}

.about2-wrapper__all__block__name {
  font-size: 1.35rem;
  margin-bottom: 5%;
}

.about2-wrapper__all__block__des {
  font-size: 1.1rem;
  line-height: 1.8;
}

.about3-wrapper__map {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about3-wrapper__map__block {
  width: 45%;
}

.about3-wrapper__map__block iframe {
  width: 100%;
}

.about3-wrapper__map__block__one {
  margin-bottom: 7.5%;
}

.about3-wrapper__map__block__one:nth-of-type(2) {
  margin-bottom: unset;
}

.about3-wrapper__map__block__one__ttl {
  margin-bottom: 2.5%;
  font-size: 1.5rem;
}

.about3-wrapper__map__block__one__txt {
  font-size: 1.1rem;
}