@charset "UTF-8";

html {
  font-size: 18px;
}

body {
  font-family: 'Noto Serif', serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

header {
  background-color: #fff;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5%;
}

.header-wrapper__logo {
  width: 15rem;
}

.header-wrapper__logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.header-wrapper__nav {
  width: 70%;
}

.header-wrapper__nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-wrapper__nav__list__item {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 2.5%;
  border-right: solid 3px #333;
}

.header-wrapper__nav__list__item a:hover {
  color: #75a9ff;
  opacity: 0.8;
}

.header-wrapper__nav__list__item:last-child {
  border-right: none;
}

header .drawer {
  visibility: hidden;
}

.section {
  position: relative;
  padding: 5% 0;
}

.inner {
  width: 80%;
  margin: 0 auto;
}

.intro {
  width: 40%;
}

.ttl {
  display: inline-block;
  margin-bottom: 10%;
  font-size: 3rem;
  border-bottom: solid 3px #333;
  line-height: 1.3;
}

.txt {
  font-size: 1rem;
}

.btn {
  width: 12rem;
  line-height: 2.5;
  padding-left: 13%;
  padding-top: 5%;
}

.btn a:hover {
  color: #fff;
  background: #333;
  transition: 0.3s;
}

.btn a {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  font-size: 1.15rem;
  font-weight: 700;
  border: solid 2.5px #333;
  border-radius: 9999px;
}

footer {
  padding: 3% 0 2%;
  background-color: #000;
  color: #fff;
}

.footer-wrapper__logo {
  width: 25rem;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2.5%;
}

.footer-wrapper__logo a {
  display: block;
}

.footer-wrapper__logo img {
  width: 100%;
}

.footer-wrapper__list {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5%;
}

.footer-wrapper__list__item {
  padding-right: 2.5%;
  margin-right: 2.5%;
  border-right: solid 3px #fff;
  font-size: 1.2rem;
  line-height: 1;
}

.footer-wrapper__list__item:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

.footer-wrapper__list__item a {
  color: #fff;
}

.footer-wrapper__list__item a:hover {
  color: #75a9ff;
}

.footer-wrapper__sns {
  margin-bottom: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper__sns__icon1 {
  margin-right: 2%;
}

.footer-wrapper__sns__icon1,
.footer-wrapper__sns__icon2 {
  transition: 0.2s;
}

.footer-wrapper__sns__icon1:hover,
.footer-wrapper__sns__icon2:hover {
  transition: 0.2s;
  transform: translateY(-5px);
}

.footer-wrapper__sns__icon1 a,
.footer-wrapper__sns__icon2 a {
  color: #fff;
  font-size: 2.25rem;
}

.footer-wrapper__copyright {
  display: block;
  text-align: center;
}