@charset "UTF-8";

.top {
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: 50%;
  z-index: 0;
  opacity: 0.8;
}

.top-wrap_ttl {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.top-wrap_ttl h1 {
  font-size: clamp(2rem, 1.273rem + 3.64vw, 4rem);
  color: #000;
}

.breadcrumb {
  width: 90%;
  margin: 2.5% auto 0;
}

.breadcrumb-wrapper__list {
  display: flex;
  justify-content: flex-end
}

.breadcrumb-wrapper__list__item {
  font-size: 1.25rem;
}

.breadcrumb-wrapper__list__item::after {
  content: ">";
  padding: 0 10px;
  font-size: 1.25rem;
}

.breadcrumb-wrapper__list__item:last-child::after {
  content: "";
}

