@charset "UTF-8";

.top {
  background-image: url("../img/c-fv__bg.png");
}

.company-wrapper__body table {
  width: 100%;
  font-size: clamp(0.563rem, 0.358rem + 1.02vw, 1.125rem);
}

.company-wrapper__body table tr {
  border-bottom: 2px solid #000;
}

.company-wrapper__body table tr th {
  text-align: left;
}

th, td {
  padding: 1.5% 0;
}

.access-wrap__body__access iframe {
  display: block;
  width: 100%;
}

.access-wrap__body__con {
  margin-top: 5%;
}

.access-wrap__body__con p {
  padding-bottom: 1%;
  font-size: clamp(0.563rem, 0.358rem + 1.02vw, 1.125rem);
}

@media screen and (max-width: 480px) {
  .company-wrapper__body table {
    margin-top: 3%;
  }

  .access-wrap__body__access iframe {
    margin-top: 3%;
    height: 100%;
  }
}