@charset "UTF-8";

.top {
  background-image: url("../img/co-fv__bg.png");
}

.con-wrap__con {
  width: 80%;
  margin: 0 auto;
}

.con-wrap__con__form__item {
  margin: 4.5% 0;
}

.con-wrap__con__form__item label {
  display: block;
  position: relative;
  color: #000;
  font-size: 1.2rem;
  padding-bottom: 0.75%;
}

.con-wrap__con__form__item label p {
  font-weight: 400;
  font-size: clamp(0.75rem, 0.477rem + 1.36vw, 1.5rem);
}

.con-wrap__con__form__item label span {
  background-color: #fff;
  padding: 0.25% 2%;
  color: #d10d0c;
  font-weight: 400;
  font-size: clamp(0.563rem, 0.358rem + 1.02vw, 1.125rem);
  margin-left: 2%;
  border: 1px solid #d10d0c;
}

.con-wrap__con__form__item input {
  width: 100%;
  height: 4rem;
  border: solid 2.5px #000;
  font-size: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);
  padding-left: 2%;
  box-sizing: border-box;
}

.con-wrap__con__form__item textarea {
  width: 100%;
  height: 15rem;
  border: solid 2.5px #000;
  font-size: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);
  padding-left: 2%;
  padding-top: 4%;
  box-sizing: border-box;
}

.con-wrap__con__form__btn {
  width: 30%;
  margin: 0 auto;
  background-color: #000;
  transition: all 0.3s;
}

.con-wrap__con__form__btn button {
  width: 100%;
  cursor: pointer;
  font-size: clamp(0.75rem, 0.477rem + 1.36vw, 1.5rem);;
  font-weight: bold;
  color: #fff;
  border: unset;
  background-color: unset;
  line-height: 2.8;
  letter-spacing: 0.3em;
  padding-left: 7%;
  border: 2.0px solid transparent;
}

.con-wrap__con__form__btn:hover {
  background-color: #fff;
}

.con-wrap__con__form__btn:hover button {
  color: #000;
  border: solid 2.0px #000;
  outline: none;
}

@media screen and (max-width: 1024px) {
  .con-wrap__con__form__item input {
    height: 3rem;
  }

  .con-wrap__con__form__item textarea {
    height: 12rem;
  }
  
}

@media screen and (max-width: 480px) {
  .con-wrap__con__form__item input {
    height: 2rem;
  }

  .con-wrap__con__form__item input {
    border: solid 1px #000;
  }

  .con-wrap__con__form__item textarea {
    height: 8rem;
    border: solid 1px #000;
  }

  .con-wrap__con__form__btn {
    width: 40%;
  }
}