@charset "UTF-8";

.top {
  background-image: url("../img/s-fv__bg.png");
}

.service-wrapper__body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3%;
  align-items: center;
}

.service-wrapper__body:nth-of-type(3) {
  flex-direction: row-reverse;
}

.service-wrapper__body__right__con {
  width: 45%;
}

.service-wrapper__body__right__con__ttl {
  padding-left: 0;
  text-align: center;
}

.service-wrapper__body__right__con__ttl h2 {
  font-size: clamp(0.875rem, 0.557rem + 1.59vw, 1.75rem);
  font-weight: bold;
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 2% 3%;
}

.service-wrapper__body__right__con__ttl p {
  font-size: clamp(0.563rem, 0.358rem + 1.02vw, 1.125rem);
  text-align: left;
  margin-top: 5%;
}

.service-wrapper__body__left__con {
  width: 53%;
}

.service-wrapper__body__left__con__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 7 / 5;
}

@media screen and (max-width: 1024px) {
  .service-wrapper__body {
    justify-content: unset;
    flex-direction: column;
    margin-top: 3%;
  }
  
  .service-wrapper__body:nth-of-type(3) {
    flex-direction: column;
  }

  .service-wrapper__body__left__con {
    width: 100%;
  }

  .service-wrapper__body__right__con {
    width: 100%;
    margin: 5% 0;
  }

  .service-wrapper__body__right__con__ttl {
    padding-left: 0;
    text-align: center;
    line-height: 1.8;
  }
}