@charset "UTF-8";

.top {
  background-image: url("../img/s-fv__bg.png");
}

.service-wrapper__body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3%;
}

.service-wrapper__body:nth-of-type(3) {
  flex-direction: row-reverse;
}

.service-wrapper__body__left__con {
  width: 45%;
}

.service-wrapper__body__left__con__ttl {
  padding-left: 0;
  text-align: center;
  line-height: 1.5;
}

.service-wrapper__body__left__con__ttl h2 {
  font-size: clamp(0.938rem, 0.551rem + 1.93vw, 2rem);
  font-weight: bold;
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 0 3%;
}

.service-wrapper__body__left__con__ttl p {
  font-size: clamp(0.563rem, 0.358rem + 1.02vw, 1.125rem);
  text-align: left;
  margin-top: 5%;
}

.service-wrapper__body__right__con {
  width: 53%;
}

.service-wrapper__body__right__con__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 7 / 5;
}
